.App {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f9f9f9;
}

.search-section {
  background-color: white;
  padding: 40px; /* Increase padding for more space */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 60%; /* Adjust width to be more expansive */
  max-width: 800px; /* Maximum width to keep it responsive */
}

.search-section p {
  font-size: 18px; /* Increase font size for better readability */
  margin-bottom: 20px; /* Increase margin for spacing */
}

.search-section .surprise {
  padding: 12px 24px; /* Increase padding for button */
  margin-left: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.search-section .input-container {
  display: flex;
  align-items: center;
  margin-top: 20px; /* Increase top margin for better spacing */
}

.search-section input {
  width: calc(100% - 100px); /* Adjust width to fit the new layout */
  padding: 12px; /* Increase padding for input */
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.search-section button {
  padding: 12px 20px; /* Increase padding for button */
  background-color: #efefef;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.search-section button:hover {
  background-color: #ddd;
}

.search-section .search-result {
  margin-top: 20px;
}

.search-section .answer {
  font-size: 16px;
  color: #333;
}
